.skills__container {
    grid-template-columns: repeat(3, 350px);
    column-gap: 3rem;
    justify-content: center;
    display: flex;
}

.card:nth-child(2) {
    transition-delay: 200ms;
}
.card:nth-child(3) {
    transition-delay: 400ms;
}
.card:nth-child(4) {
    transition-delay: 600ms;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__content:hover {
    transform: scale(1.1);
    background-color: #f4ffe4;
    background-image: linear-gradient(131.83deg, #FFFAFA 0%, #FFF7F7 99.21%);
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}


.section__title {
    margin-top: 300px;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.skills__name {
    font-weight: 100;
}

 /*===========breakpoints============*/
  /* For large devices */
  @media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: max-content;
        row-gap: 2rem;;
    }
  }
    /* For medium devices */

  @media screen and (max-width: 567px) {
    .skills__container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .skills__content {
        padding: 1.5rem;
    }

  }
  @media screen and (max-width: 350px) {
    .skills__box {
        column-gap: 1.25rem;
    }
    .skills__name{
        font-size: var(--small-font-size);
    }
  }
